{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "entry",
            "corejs": 3,
            "modules": false,
            "debug": false
        }]
    ],
    "retainLines": true
}
